<main id="document-container">
  <script src="document.js" type="text/javascript" defer></script>

  <div id="ribbon">
    <div id="format-button-container">
      <div id="style-format-button-container">
        <div id="apply-style-format-button-container">
          <button class="format-button" id="bold-button"><b>B</b></button>
          <button class="format-button" id="italic-button"><em>I</em></button>
          <button class="format-button" id="underline-button"><u>U</u></button>
        </div>
        <div id="remove-style-format-button-container">
          <button class="format-button" id="remove-bold-button"><s>B</s></button>
          <button class="format-button" id="remove-italic-button"><s>I</s></button>
          <button class="format-button" id="remove-underline-button"><s>U</s></button>
        </div>
      </div>
      <div id="structure-format-button-container">
        <div id="apply-structure-format-button-container">
          <button class="format-button" id="title-button">Title</button>
          <button class="format-button" id="subtitle-button">Subtitle</button>
          <button class="format-button" id="unordered-list-button">Bulleted List</button>
          <button class="format-button" id="ordered-list-button">Numbered List</button>
        </div>
        <div id="remove-structure-format-button-container">
          <button class="format-button" id="remove-title-button"><s>Title</s></button>
          <button class="format-button" id="remove-subtitle-button"><s>Subtitle</s></button>
          <button class="format-button" id="remove-unordered-list-button"><s>Bulleted List</s></button>
          <button class="format-button" id="remove-ordered-list-button"><s>Numbered List</s></button>
        </div>
      </div>
    </div>
    <div id="state-button-container">
      <button class="state-button" id="save-button">Save File</button>
      <button class="state-button" id="mode-button">Swap Modes</button>
    </div>
  </div>

  <input type="text" id="title" value="{{title}}" />
  <article id="document" contenteditable="true">{{{content}}}</article>

  {{#if important}}
    <img src="{{src}}" width="{{width}}" height="{{height}}" />
  {{/if}}
</main>