<main id="document-container">
  <script src="document.js" type="text/javascript" defer></script>

  <button id="saveButton">Save File</button>
  <button id="modeButton">Swap Modes</button>
  <input type="text" id="title" value="{{title}}" />
  <article id="document" contenteditable="true">{{{content}}}</article>

  {{#if important}}
    <img src="{{src}}" width="{{width}}" height="{{height}}" />
  {{/if}}
</main>
